<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Test-Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="7dd085">  <td>20/06/20 10:02:24</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="VerificarMesActualCalendarioTest.VerificarQueSeMuestraUnCalendarioCuandoSeIngresaAlaPestanaCalendarioDeFestividades()[pri:0, instance:Tests.VerificarMesActualCalendarioTest@124c278f]">VerificarQueSeMuestraUnCalendarioCuandoSeIngresaAlaPestanaCalendarioDeFestividades</td> 
  <td>main@200224114</td>   <td></td> </tr>
<tr bgcolor="9d70bd">  <td>20/06/20 10:03:12</td>   <td>48072</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="VerificarMensajeErrorBuscadorAventuraTest.VerificarQueSeMuestraUnMensajeDeErrorAlIngresarDatosErroneos()[pri:0, instance:Tests.VerificarMensajeErrorBuscadorAventuraTest@47542153]">VerificarQueSeMuestraUnMensajeDeErrorAlIngresarDatosErroneos</td> 
  <td>main@200224114</td>   <td></td> </tr>
<tr bgcolor="a494c8">  <td>20/06/20 10:02:06</td>   <td>-17349</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="VerificarRecorridoNoEncontradoTest.VerificarQueSeMuestraUnMensajeDeRecorridoNoEncontrado()[pri:0, instance:Tests.VerificarRecorridoNoEncontradoTest@6b19b79]">VerificarQueSeMuestraUnMensajeDeRecorridoNoEncontrado</td> 
  <td>main@200224114</td>   <td></td> </tr>
<tr bgcolor="b9a692">  <td>20/06/20 10:03:27</td>   <td>63003</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="VerifyThatWhenErroneousDataIsEntered.Verify()[pri:0, instance:Tests.VerifyThatWhenErroneousDataIsEntered@25d250c6]">Verify</td> 
  <td>main@200224114</td>   <td></td> </tr>
<tr bgcolor="9d6b9d">  <td>20/06/20 10:03:43</td>   <td>79020</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="VerifyThatSearchingWithoutPlacingAnyCharactersShowsAllResults.VerifyThatSearchingWithoutPlacingAnyCharactersShowsAllResults_()[pri:0, instance:Tests.VerifyThatSearchingWithoutPlacingAnyCharactersShowsAllResults@48fa0f47]">VerifyThatSearchingWithoutPlacingAnyCharactersShowsAllResults_</td> 
  <td>main@200224114</td>   <td></td> </tr>
<tr bgcolor="616382">  <td>20/06/20 10:03:59</td>   <td>95565</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="VerifyTheMaximumNumberOfCharactersAcceptedByTheTouristRegistrarsSearchBar.VerifyTheMaximumNumberOfCharactersAcceptedByTheTouristRegistrarsSearchBar_()[pri:0, instance:Tests.VerifyTheMaximumNumberOfCharactersAcceptedByTheTouristRegistrarsSearchBar@1e802ef9]">VerifyTheMaximumNumberOfCharactersAcceptedByTheTouristRegistrarsSearchBar_</td> 
  <td>main@200224114</td>   <td></td> </tr>
<tr bgcolor="a494c8">  <td>20/06/20 10:02:07</td>   <td>-16615</td> <td>&nbsp;</td><td title="&lt;&lt;VerificarRecorridoNoEncontradoTest.quit()[pri:0, instance:Tests.VerificarRecorridoNoEncontradoTest@6b19b79]">&lt;&lt;quit</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@200224114</td>   <td></td> </tr>
<tr bgcolor="7dd085">  <td>20/06/20 10:02:29</td>   <td>4938</td> <td>&nbsp;</td><td title="&lt;&lt;VerificarMesActualCalendarioTest.quit()[pri:0, instance:Tests.VerificarMesActualCalendarioTest@124c278f]">&lt;&lt;quit</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@200224114</td>   <td></td> </tr>
<tr bgcolor="9d70bd">  <td>20/06/20 10:03:13</td>   <td>49467</td> <td>&nbsp;</td><td title="&lt;&lt;VerificarMensajeErrorBuscadorAventuraTest.quit()[pri:0, instance:Tests.VerificarMensajeErrorBuscadorAventuraTest@47542153]">&lt;&lt;quit</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@200224114</td>   <td></td> </tr>
<tr bgcolor="b9a692">  <td>20/06/20 10:03:28</td>   <td>63985</td> <td>&nbsp;</td><td title="&lt;&lt;VerifyThatWhenErroneousDataIsEntered.quit()[pri:0, instance:Tests.VerifyThatWhenErroneousDataIsEntered@25d250c6]">&lt;&lt;quit</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@200224114</td>   <td></td> </tr>
<tr bgcolor="9d6b9d">  <td>20/06/20 10:03:44</td>   <td>80089</td> <td>&nbsp;</td><td title="&lt;&lt;VerifyThatSearchingWithoutPlacingAnyCharactersShowsAllResults.quit()[pri:0, instance:Tests.VerifyThatSearchingWithoutPlacingAnyCharactersShowsAllResults@48fa0f47]">&lt;&lt;quit</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@200224114</td>   <td></td> </tr>
<tr bgcolor="616382">  <td>20/06/20 10:04:03</td>   <td>99210</td> <td>&nbsp;</td><td title="&lt;&lt;VerifyTheMaximumNumberOfCharactersAcceptedByTheTouristRegistrarsSearchBar.quit()[pri:0, instance:Tests.VerifyTheMaximumNumberOfCharactersAcceptedByTheTouristRegistrarsSearchBar@1e802ef9]">&lt;&lt;quit</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@200224114</td>   <td></td> </tr>
<tr bgcolor="6decaa">  <td>20/06/20 10:04:39</td>   <td>135059</td> <td>&nbsp;</td><td title="&lt;&lt;BusquedaAlojamientosTest.quit()[pri:0, instance:Tests.BusquedaAlojamientosTest@96def03]">&lt;&lt;quit</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@200224114</td>   <td></td> </tr>
<tr bgcolor="a494c8">  <td>20/06/20 10:01:51</td>   <td>-33173</td> <td>&nbsp;</td><td title="&gt;&gt;VerificarRecorridoNoEncontradoTest.setup()[pri:0, instance:Tests.VerificarRecorridoNoEncontradoTest@6b19b79]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@200224114</td>   <td></td> </tr>
<tr bgcolor="7dd085">  <td>20/06/20 10:02:08</td>   <td>-15719</td> <td>&nbsp;</td><td title="&gt;&gt;VerificarMesActualCalendarioTest.setup()[pri:0, instance:Tests.VerificarMesActualCalendarioTest@124c278f]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@200224114</td>   <td></td> </tr>
<tr bgcolor="9d70bd">  <td>20/06/20 10:02:34</td>   <td>10594</td> <td>&nbsp;</td><td title="&gt;&gt;VerificarMensajeErrorBuscadorAventuraTest.setup()[pri:0, instance:Tests.VerificarMensajeErrorBuscadorAventuraTest@47542153]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@200224114</td>   <td></td> </tr>
<tr bgcolor="b9a692">  <td>20/06/20 10:03:14</td>   <td>49763</td> <td>&nbsp;</td><td title="&gt;&gt;VerifyThatWhenErroneousDataIsEntered.setup()[pri:0, instance:Tests.VerifyThatWhenErroneousDataIsEntered@25d250c6]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@200224114</td>   <td></td> </tr>
<tr bgcolor="9d6b9d">  <td>20/06/20 10:03:29</td>   <td>65337</td> <td>&nbsp;</td><td title="&gt;&gt;VerifyThatSearchingWithoutPlacingAnyCharactersShowsAllResults.setup()[pri:0, instance:Tests.VerifyThatSearchingWithoutPlacingAnyCharactersShowsAllResults@48fa0f47]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@200224114</td>   <td></td> </tr>
<tr bgcolor="616382">  <td>20/06/20 10:03:46</td>   <td>82039</td> <td>&nbsp;</td><td title="&gt;&gt;VerifyTheMaximumNumberOfCharactersAcceptedByTheTouristRegistrarsSearchBar.setup()[pri:0, instance:Tests.VerifyTheMaximumNumberOfCharactersAcceptedByTheTouristRegistrarsSearchBar@1e802ef9]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@200224114</td>   <td></td> </tr>
<tr bgcolor="6decaa">  <td>20/06/20 10:04:08</td>   <td>104214</td> <td>&nbsp;</td><td title="&gt;&gt;BusquedaAlojamientosTest.setup()[pri:0, instance:Tests.BusquedaAlojamientosTest@96def03]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@200224114</td>   <td></td> </tr>
<tr bgcolor="6decaa">  <td>20/06/20 10:04:21</td>   <td>117556</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="BusquedaAlojamientosTest.verificarbusqueda()[pri:0, instance:Tests.BusquedaAlojamientosTest@96def03]">verificarbusqueda</td> 
  <td>main@200224114</td>   <td></td> </tr>
</table>
