<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="7cd7a0">  <td>20/06/20 10:39:32</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;VerificarMesActualCalendarioTest.setup()[pri:0, instance:Tests.VerificarMesActualCalendarioTest@1f36e637]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@665372494</td>   <td></td> </tr>
<tr bgcolor="7cd7a0">  <td>20/06/20 10:39:49</td>   <td>16733</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="VerificarMesActualCalendarioTest.VerificarQueSeMuestraUnCalendarioCuandoSeIngresaAlaPestanaCalendarioDeFestividades()[pri:0, instance:Tests.VerificarMesActualCalendarioTest@1f36e637]">VerificarQueSeMuestraUnCalendarioCuandoSeIngresaAlaPestanaCalendarioDeFestividades</td> 
  <td>main@665372494</td>   <td></td> </tr>
<tr bgcolor="7cd7a0">  <td>20/06/20 10:39:49</td>   <td>17261</td> <td>&nbsp;</td><td title="&lt;&lt;VerificarMesActualCalendarioTest.quit()[pri:0, instance:Tests.VerificarMesActualCalendarioTest@1f36e637]">&lt;&lt;quit</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@665372494</td>   <td></td> </tr>
</table>
